vim/vim.symlink/.netrwhist
vim/vim.symlink/bundle/*
vim/vim.symlink/plugged/*
vim/vim.symlink/undo/*
vim/vimrc.local*
neovim/config.symlink/*
!neovim/config.symlink/nvim/*
terminfo/terminfo.symlink/*
.DS_Store
tags
.vscode/
.vscode/*
